body {
  font-family:sans-serif; 
}

#container-total {
  padding: 2rem 4rem;
}

h1 {
  margin-bottom: 16px;
}

li {
  margin-bottom: 10px;
}

li:hover {
  cursor: pointer;
}

p {
  color: gray;
  margin-bottom: 30px;
}

button {
  font-weight: bold;
  background-color: rgb(255, 255, 255);
  padding: 7px 10px;
  border: none;
  border-radius: 20px;
  margin-left: 8px;
  text-decoration: none;
}

#criar-tarefa {
  background-color: rgb(159, 255, 150);
}

#apaga-tudo {
  background-color: rgb(255, 105, 160);
}

#remover-finalizados, #remover-selecionado {
  background-color: rgb(255, 198, 93);
}

#mover-cima, #mover-baixo {
  background-color: rgb(177, 237, 232);
}

#salvar-tarefas {
  background-color: rgb(159, 255, 150);
}

.completed {
  text-decoration: line-through 2px solid rgb(255, 105, 160);
}

.selecionado {
  background-color: rgb(255, 252, 152);
}