body {
  font-family: sans-serif;
}

.container-total {
  padding: 2rem 0rem;
  width: 50vw;
  margin: auto;
}

h1 {
  margin-bottom: 16px;
}

li {
  margin-bottom: 10px;
}

li:hover {
  cursor: pointer;
}

p {
  color: gray;
  margin-bottom: 30px;
}

button {
  font-weight: bold;
  background-color: rgb(255, 255, 255);
  padding: 7px 10px;
  border: none;
  border-radius: 20px;
  margin-left: 8px;
  margin-top: 8px;
  text-decoration: none;
  box-shadow: inset 0px 0px 0px 2px transparent
}

button:hover {
  box-shadow: inset 0px 0px 0px 2px gray;
  transition: box-shadow 0.3s;
}

#texto-tarefa {
  width: 50%;
}

#criar-tarefa {
  background-color: rgb(159, 255, 150);
}

#apaga-tudo {
  background-color: rgb(255, 105, 160);
}

#remover-finalizados,
#remover-selecionado {
  background-color: rgb(255, 198, 93);
}

#mover-cima,
#mover-baixo {
  background-color: rgb(177, 237, 232);
}

#salvar-tarefas {
  background-color: rgb(159, 255, 150);
}

.completed {
  text-decoration: line-through 2px solid rgb(255, 105, 160);
}

.selecionado {
  background-color: rgb(255, 252, 152);
}

@media all and (max-width: 510px) {
  #texto-tarefa {
    width: 100%;
  }

  #criar-tarefa,
  #salvar-tarefas {
    margin-top: 15px;
  }

  .botao-de-edicao {
    width: 70%;
    margin-top: 20px;
  }

  .botao-de-edicao-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}